EGG-INFO*
carburator.egg-info/*
*.egg
*.eggs
build/*
dist/*
*~
*.bak
*.swp
*.pyc
*.svn*
.DS_Store
*.egg-info*
**.cache**
repo**
py**
*.db
*.tc*
pip-log.txt
env/
*/__pycache__
*.orig
docs/_build/*
venv

